@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/helvetica/Helvetica.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../../assets/fonts/helvetica/Helvetica-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}